@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{

    background-color: rgb(39, 46, 47);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
}
i{
    margin: 20px 0;
    color: #f3b629;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
   
}
h1{
    font-size: 60px;
    line-height: 90px;
}
h2{
    font-size: 40px;
    line-height: 70px;
}
h3{
    font-size: 30px;
    line-height: 45px;  
}
h4{
    font-size: 20px;
    line-height: 30px;  
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
}
.container-lg{
    width: 1280px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 0 25px;
}
/* button */
.simple-link{
    color: #f3b629;
    text-decoration: none;
    font-weight: 700px;
}
.btn{
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 60px;
}

.btn-small{
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 50px;
}
.btn-primary{
    background:rgb(11, 136, 252);
    color: white;
}
.btn-secondary{
    background: #70C217;
    color: white;
}
.btn-outline{
    border: 2 solid white;
    color: white;
}
/* header */
.header{
    width: 1472px;
    height: 45px;
}

/*text*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
/*text*/
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.row>[class*="col-"]{
    padding: 30px;
}
.g-0>[class*="col-"]{
    padding: 0 !important;
}
.p-0{
    padding: 0 !important;
}
.row-reverse{
    flex-direction: row-reverse;
}


/* flex */
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
/* align */
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-content-start{
    align-content: flex-start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-around{
    align-content: space-around;
}
.align-content-between{
    align-content: space-between;
}
.align-s-start{
    align-self: flex-start;
}
.align-s-center{
    align-self: center;
}
.align-s-end{
    align-self: flex-end;
}

/* flex */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.padding{
    padding: 10px;
}
.col-offset-1{
    margin-left: 8.33%;
}
.col-offset-r1{
    margin-right: 8.33%;
}
hr.new1 {
    border-top: 1px solid red;
  }
